.Instagram{
    display: inline;
    margin-top: 5rem;
    text-decoration: none;

}
.Instagram p{
    display: inline;
    font-size: 1rem;
}
.artesanais{
    color: black;
    text-align: center;
    padding: auto;
    border-radius: 0.5rem;
    margin: 5rem;
    font-size: 4rem;
    font-family: "Great Vibes", cursive;
}